#selector{background-color:#c2e1f5;border-color:#88b7d5;width:100px;height:100px;border-radius:10px;border-width:4px;border-style:solid;margin:0 auto;position:relative}#selector:after,#selector:before{border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;z-index:1}
#selector:after{border-color:rgba(194,224,245,0);border-width:10px}
#selector:before{border-color:rgba(134,183,213,0);border-width:16px}
#selector:after,#selector:before{bottom:100%;left:50%}
#selector:after{border-bottom-color:#c2e1f5;margin-left:-10px}
#selector:before{border-bottom-color:#88b7d5;margin-left:-16px}
